<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Party_MS2.Properties.Settings.PartyDBIIConnectionString"
            connectionString="Data Source=LAPTOP-TESM5QR4;Initial Catalog=PartyDBII;User ID=test;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>